<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="ComicStorage"
				 connectionString="DefaultEndpointsProtocol=https;AccountName=comicmashup;AccountKey=7GMxjhT63QE8JQLZoOIs5Ivj1Y5MNodIlScU3NFuvQodMiL6Wyggnyr27kkIm7OTiIWXg8RcdPwiFR5lq6zcJA=="
				 xdt:Transform="Replace"
				 xdt:Locator="Match(name)" />
	</connectionStrings>

	<fredin.comic xdt:Transform="Replace">
		<web staticBaseUrl="http://cdn2.comicmashup.com/" renderBaseUrl="http://cdn.comicmashup.com/render/" facebookBaseUrl="http://apps.facebook.com/comicmashup/" trackerId="UA-9670237-3" />
		<blob renderContainer="render" taskContainer="task" comicDirectory="comic/" frameDirectory="frame/" thumbDirectory="thumb/" frameThumbDirectory="frameThumb/" photoDirectory="photo/" renderTaskDirectory="render/" profileTaskDirectory="profile/" photoTaskDirectory="photo/" profileDirectory="profile/" />
		<queue renderTaskQueue="task-render" profileTaskQueue="task-profile" photoTaskQueue="task-photo" />
		<facebook appId="108994612112" permissions="email,read_stream,user_photos,friends_photos,user_photo_video_tags,friends_photo_video_tags" cookieSupport="true" useXfbml="true" />
		<face apiKey="ff5a150baed804262ba2ff94556716aa" apiSecret="11d4d6669c8279959d2fb5798c3d11e7" />
		<smtp server="smtp.elasticemail.com" port="2525" username="efredin@gmail.com" password="80e573c8-ba39-418f-97c1-afe6f13b1401" from="support@comicmashup.com" />
	</fredin.comic>
	<facebookSettings xdt:Transform="Replace" appId="108994612112" appSecret="777d852dc84bab5e221bfe503a4b7d30" />

	<log4net>
		<root>
			<level value="INFO" xdt:Transform="Replace" />
		</root>
	</log4net>

	<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="On" xdt:Transform="Replace" />
  </system.web>
	
</configuration>