<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="ComicStorage"
				 connectionString="DefaultEndpointsProtocol=https;AccountName=comicmashup;AccountKey=7GMxjhT63QE8JQLZoOIs5Ivj1Y5MNodIlScU3NFuvQodMiL6Wyggnyr27kkIm7OTiIWXg8RcdPwiFR5lq6zcJA=="
				 xdt:Transform="Replace"
				 xdt:Locator="Match(name)" />
	</connectionStrings>

	<fredin.comic xdt:Transform="Replace">
		<web staticBaseUrl="http://static.comicmashup.com/static/" renderBaseUrl="http://static.comicmashup.com/render/" trackerId="UA-9670237-1" />
		<storage renderContainer="render" comicPrefix="comic-" framePrefix="frame-" thumbPrefix="thumb-" frameThumbPrefix="frameThumb-" photoPrefix="photo-" />
		<facebook appId="190537004323076" permissions="read_stream,user_photos,friends_photos,user_photo_video_tags,friends_photo_video_tags" cookieSupport="true" useXfbml="true" />
		<face apiKey="3f4581348be9d7e6efa483d08899f257" apiSecret="93b9aaa028ada6107841245a80cb94b0" />
	</fredin.comic>
	<facebookSettings xdt:Transform="Replace" appId="190537004323076" appSecret="71e71a5831943b48328f2bc6e58fa8a9" maxRetries="2" retryDelay="1" />

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="Off" xdt:Transform="Replace" />
	</system.web>

	<!--<compilers>
		<compiler xdt:Transform="SetAttributes(compilerOptions)" compilerOptions="/d:STAGE" />
	</compilers>-->
	
</configuration>