#home { }
#home .actionButton { display: inline-block; width: 210px; margin: 10px; padding: 10px; text-align: center; font-size: 2em; }
#home .actionButton:hover { text-decoration: none; }
#home #home-buttonCreate { }
#home #home-buttonDirectory { }
#home #home-buttonShare { }
#home #home-like { float: right; }
#home-directory { margin: 20px 0 0 0; }

#wizardCreate { display: block; }
#wizardCreate #wizardContent { width: 764px; }
#wizardCreate #wizardTitle { display: inline-block; }
#wizardCreate #wizardLoad { width: 100%; }

#wizardCreate .ui-state-highlight { margin: 0 5px; padding: 6px 4px; }

#wizardCreate .ui-wizard-back { float: right; }
#wizardCreate .ui-wizard-next { float: right; }
.ui-wizard-navPad { margin: 12px 0 0; }

#wizardCreate .selectFilter { text-align: right; font-size: 0.8em; padding: 1em 2em 0 0; }
#wizardCreate .selectFilter label { padding: 0 6px 0 1px; }

#wizardCreate .ui-select ul { height: 475px; overflow: auto; padding: 0 2px; clear: both; }
#wizardCreate .ui-select .feed { height: 50px; padding: 4px; font-size: 0.8em; }
#wizardCreate .ui-select .feed .feed-picture { float: left; }
#wizardCreate .ui-select .feed .feed-content { margin: 0 60px; font-weight: normal; }
#wizardCreate .ui-select .feed .feed-from { margin: 0 4px 0 0; }
#wizardCreate .ui-select .feed .feed-message { }
#wizardCreate .ui-select .feed .feed-icon { position: relative; top: 4px; margin: 0 4px 0 0; }
#wizardCreate .ui-select .feed .feed-time { font-size: 0.9em; }
#wizardCreate .ui-select .feed .feed-commentCount { font-size: 0.9em; }
#wizardCreate #stepOption .ui-select { display: inline-block; }
#wizardCreate #stepOption .ui-select ul { width: 400px; height: 94px; }
#wizardCreate #stepTemplate .ui-select ul li, #wizardCreate #stepOption .ui-select ul li { display: inline-block; text-align: center; vertical-align: middle; zoom: 1; *display: inline; }
#wizardCreate .ui-select .template { height: 66px; display: inline-block; }
#wizardCreate .ui-select .bubble { height: 66px; display: inline-block; }
#wizardCreate .ui-select .effect { height: 80px; font-size: 0.9em; }

#photoWizard .ui-wizard-back { float: right; }
#albumContent { clear: both; height: 390px; overflow: auto; }
#photoContent { clear: both; height: 390px; overflow: auto; }


.ui-dialog .ui-select ul li { display: inline-block; text-align: center; vertical-align: middle; zoom: 1; *display: inline; }
.ui-select .bubble .bubbleThumb { width: 50px; height: 50px; }

#wizardCreate #renderComic { padding: 10px 0; }

#publishComic #publishImage { float: left; }
#publishComic #publishForm { float: right; width: 384px; }
#publishComic #publishImage img { height: 75px; border: 2px solid black; }
#publishComic #comicTitle, #publishComic #comicDescription { width: 100%; }

#comicRead { }
#comicRead #comicDescription { margin: 10px 0; }
#comicRead #comicInfo { float: right; font-size: 0.9em; display: inline-block; zoom: 1; *display: inline; }
#comicRead #comicInfo #tags { text-align: right; margin-top: 8px; }
#comicRead #comic { clear: both; }
#comicRead .fb_iframe_widget { margin: 10px 0; }
#comicRead #reader { margin: 10px 0; }
#comicRead #reader #readerRate { vertical-align: middle; }
#comicRead #reader #readerRate #readerVote { display: inline-block; padding: 16px 0 0; }
#comicRead #reader #readerAction { float: right; width: 188px; }
#comicRead #reader label, #comicRead #reader a { font-size: 0.7em; }
#comicRead #comments { float: left; display: inline-block; width: 522px; margin: 10px 10px 0 0; }
#comicRead #navigate { float: left; display: inline-block; margin: 10px 0 0 0; width: 206px; }
#comicRead #navigate ul { list-style: none; padding: 0; margin: 0; }
#comicRead #navigate ul li { padding: 1px 0; }
#comicRead #edit { float: left; display: inline-block; margin: 10px 0 0 0; width: 206px; }
#comicRead #edit ul { list-style: none; padding: 0; margin: 0; }
#comicRead #edit ul li { padding: 1px 0; }

.author { height: 50px; margin: 0; }
.author-photo { float: left; display: inline-block; padding: 0 10px 0 0; height: 50px; width: 50px; }
.author-photo img { border: none; }
.author-name { }
.author-by { padding: 20px 0 0 0; }
.author-title { margin: 4px 2px; }

.comicList { list-style: none; margin: 0; padding: 0; }
.comicList li { float: left; display: inline-block; margin: 6px 10px 6px 0; width: 364px; }
.comicList li.odd { margin-right: 0; }

.comicList li img { width: 364px; }
.comicList li .comicList-detail { display: block; padding: 4px 0; }
.comicList li .comicList-detail .comicList-title { font-size: 1.2em; font-weight: bold; }
.comicList li .comicList-detail .comicList-about { font-size: 0.8em; }
.comicList li .comicList-detail .comicList-rate { float: right; display: inline-block; padding: 14px 0 0; }

#directory #directoryFilter { text-align: right; }
#directory #directoryFilter ul li { text-align: left; margin: 0 8px; }
#directory #directoryFilter ul li.active div ul li { padding: 2px; }
#directory #directoryPaging { clear: left; text-align: right; padding: 2px 7px; font-size: 0.7em; }

.content800 { width: 800px; }
.content764 { width: 764px; }
.contentIb { display: inline-block; }

#directory-author { }
#directory { }

#faq { }
#faq ul { list-style: none; padding: 0; margin: 0; }
#faq ul li { margin: 8px 0; }
#faq .question { font-weight: bold; }
#faq .answer { }

#contact { width: 300px; }
#contact input, #contact textarea { width: 100%; }

.ui-comic { }
.ui-comic .ui-comic-canvas { position: relative; display: inline-block; zoom: 1; *display: inline; background: #000000; margin: 8px 0; overflow: hidden; }
.ui-comic .ui-comic-frame { position: absolute; display: inline-block; zoom: 1; *display: inline; background: #EDEDED; overflow: hidden; }
.ui-comic .ui-comic-frame img { position: absolute; }
.ui-comic .ui-bubble { position: absolute; cursor: move; }
.ui-comic .ui-comic-frameButton { position: absolute; top: 4px; left: 4px; }
.ui-comic .ui-comic-framebutton a { margin: 0 auto; }


/*
#login-login input[type=text],
#login-login input[type=password],
#login-create input[type=text],
#login-create input[type=password]
{
	width: 165px;
	margin: 0 10px 5px 0;
}*/