/*********************
 Profile Layout Items *
*********************/
body#fb
{
	background: #FFFFFF;
	color: #202020;
}
#fb h1
{
	font-size: 1.4em;
}
#fb-like
{
	float: right;
	width: 300px;
	height: 80px;
	padding-top: 5px;
}
#fb-logobar
{
	color: #FFFFFF; 
	margin: 2px auto;
	width: 760px;
}
#fb-logo
{
	border: 0;
	margin: 4px 0;
}
#fb-menubar
{
	position: relative;
	width: 760px;
	margin: 0 auto 12px;
	background: #EDEDED;
}
#fb-menubar ul
{
	font-size: 1.1em;
}
#fb-menubar li
{
	padding: 8px 12px;
	background: #EDEDED;
}
#fb-menubar li.active
{
	background: #0582C2;
	border: 1px solid #06416B;
}
#fb-menubar a
{
	color: #57678B;
}
#fb-menubar li.active a, #fb-menubar li.active a:hover
{
	color: #FFFFFF;
}
#fb-menubar ul li div
{
	font-size: 0.9em;
}
#fb-menubar ul li.active div
{
	color: #404040;
}
#fb-menubar ul li.active div a
{
	color: #57678B;
}
#fb-menubar ul li.active div a:hover
{
	color: #0582C2;
	text-decoration: none;
}
#fb-menubar ul li.active div ul
{
	font-size: 1.0em;
}
#fb-search
{
	position: absolute;
	top: 3px;
	left: 518px;
}
#fb-content
{
	margin: 0 auto;
	padding: 0;
	width: 760px;
	clear: both;
}
#fb-footer
{
	margin: 8px auto;
	width: 760px;
}
#fb-footer2
{
	margin: 8px auto 2px auto;
	width: 760px;
}
.content734
{
	width: 734px;
	display: block;
}
.content434
{
	width: 434px;
	display: inline-block;
}

#optionsetEffect .ui-select .effect { height: 80px; font-size: 0.9em; }
#optionsetEffect .ui-select ul li { display: inline-block; text-align: center; vertical-align: middle; zoom: 1; *display: inline; }

#renderAction { margin: 4px 0 0 0; text-align: right; }

.fbrectangle
{
	margin: 0;
	padding: 0;
	width: 300px;
	float: right;
}
.fbrectangle .ad-debug
{
	background: #E9E9E9;
	height: 250px;
}