body
{
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 9pt;
	color: #404040;
	margin: 0;
	padding: 0;
	border: 0;
	background: #1E1E1E;
}
a img, a:active img, a:hover img
{
	border: 0;
	text-decoration: none;
}
a, a:active, a:visited
{
	color: #046A99;
	text-decoration: none;
	font-weight: bold;
}
a:hover
{
	color: #023D56;
	text-decoration: underline;
}
h1
{
	display: block;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 2em;
	margin: 4px 0px 8px;
}
h2
{
	display: block;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 1.2em;
	margin: 4px 0px;
}
h3
{
	display: block;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 1.2em;
	margin: 4px 0px;
}
h4
{
	display: block;
	font-weight: normal;
	font-size: 1em;
	margin: 0;
}
hr
{
	clear: both;
	border: 0;
	border-top: 1px solid #444D75;
}
input, textarea
{
	background: #E2E2E2;
	border: 1px solid #91BED5;
	color: #404040;
	margin: 0;
	padding: 3px 0;
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*********************
 Mashup Layout Items *
*********************/
#logobar-wrapper
{
	background: #1E1E1E;
	width: 100%; 
	border-bottom: 1px solid #0D0D0D;
}
#logobar
{
	height: 96px;
	color: #F1F1F1;
	margin: 2px auto;
	width: 960px;
}
#logo
{
	border: 0;
	margin: 4px 0;
}
#titlebar-wrapper
{
	position: relative;
	background: #454545;
	width: 100%;
	border-top: 1px solid #61616B;
	border-bottom: 1px solid #2E2E2E;
}
#titlebar
{
	margin: 16px auto 2px auto;
	width: 960px;
}
#titlebar h1
{
	margin: 4px 0;
	color: #91BED5;
	font-family: Arial;
}
#menubar
{
	position: absolute;
	top: -30px;
	width: 960px;
	margin: 0 auto;
	background: #EDEDED;
}
#menubar ul
{
	font-size: 1.1em;
}
#menubar li
{
	padding: 8px 12px;
	background: #EDEDED;
}
#menubar li.active
{
	background: #0582C2;
	border: 1px solid #06416B;
}
#menubar a
{
	color: #57678B;
}
#menubar li.active a, #menubar li.active a:hover
{
	color: #FFFFFF;
}
#menubar ul li a span.ui-icon
{
}
#menubar ul li div
{
	font-size: 0.9em;
}
#menubar ul li.active div
{
	color: #404040;
}
#menubar ul li.active div a
{
	color: #57678B;
}
#menubar ul li.active div a:hover
{
	color: #0582C2;
	text-decoration: none;
}
#menubar ul li.active div ul
{
	font-size: 1.0em;
}
#menubar ul li.active div ul li
{
}
#menubar ul li.active div ul li:hover 
{
}
#search
{
	position: absolute;
	top: 3px;
	left: 708px;
}
#search-text
{
	font-size: 1.2em;
	width: 200px;
	height: 28px;
	background: #E2E2E2;
	border: 1px solid #91BED5;
	color: #404040;
	padding: 1px 28px 1px 8px;
}
#search-text.watermark
{
	color: #909090;
}
#search-go
{
	position: absolute;
	top: 5px;
	left: 204px;
	border: 0;
	height: 24px;
	width: 29px;
	cursor: pointer;
	background: url('../Image/search.png');
}
#content-wrapper
{
	background: #EDEDED;
	width: 100%;
}
#content
{
	margin: 0 auto;
	padding: 10px 0;
	width: 960px;
	clear: both;
}
#content-clear
{
	clear: both;
	height: 1px;
	padding: 0;
	margin: 0;
}
#login
{
	display: inline-block;
	float: right;
	width: 250px;
	margin: 10px 0 0 0;
	text-align: right;
}
#login-photo
{
	display: inline-block;
	float: right;
	margin: 0 0 0 10px;
}
#login-photo img
{
	width: 50px;
	height: 50px;
	border: 0;
}
#login-name
{
}
#login-button
{
	margin: 10px 0 0 0;
}
#buttonLogout
{
	display: none;
}
#footer-wrapper
{
	clear: both;
	background: #454545;
	width: 100%;
	border-top: 1px solid #2E2E2E;
	border-bottom: 1px solid #61616B;
}
#footer
{
	color: #F1F1F1;
	margin: 8px auto;
	width: 960px;
}
/*#footer-menu
{
	float: left;
	font-size: 0.9em;
}
#footer-menu ul
{
	list-style: none;
	margin: 0;
	padding: 0 0 0 8px;
}
#footer-menu ul li
{
	display: inline-block;
	vertical-align: top;
	margin: 0 8px 0 0;
	padding: 1px 0;
}
#footer-menu ul li ul li
{
	display: block;
}*/
#footer-like
{
}
#footer2-wrapper
{
	clear: both;
	background: #1E1E1E;
	width: 100%;
	height: 44px;
	border-top: 1px solid #0D0D0D;
}
#footer2
{
	color: #F1F1F1;
	margin: 8px auto 2px auto;
	width: 960px;
}
#copyright
{
}
#attribution
{
	float: right;
}

/*****************
* Mashup Classes *
*****************/
.menu
{
	z-index: 101;
}
.menu ul
{
	list-style: none;
	margin: 0;
	padding: 2px 8px;
}
.menu li
{
	position: relative;
	display: inline-block;
	border: 1px solid transparent;
	vertical-align: middle; 
	zoom: 1; 
	*display: inline;
}
.menu li.active
{
}
.menu a
{
	text-decoration: none;
}
.menu li.active a, .menu li.active a:hover
{
}
.menu ul li a span.ui-icon
{
	display: inline-block;
	vertical-align: middle; 
	zoom: 1; 
	*display: inline;
}
.menu ul li div
{
	position: absolute;
	top: 100%;
	left: 0;
	padding: 4px 0;
	border: 1px solid #06416B;
	background: #EDEDED;
}
.menu ul li.active div
{
	display: inline-block;
	zoom: 1; 
	*display: inline;
	z-index: 100;
	text-decoration: none;
}
.menu ul li.active div a
{
}
.menu ul li.active div a:hover
{
}
.menu ul li.active div ul
{
	list-style: none;
	width: 100%;
	padding: 2px 0;
}
.menu ul li.active div ul li
{
	display: block;
	padding: 2px 12px;
}
.menu ul li.active div ul li:hover 
{
	background: transparent;
}
.menu-directory
{
	width: 120px;
}
.menu-help
{
	width: 120px;
}
.menu-misc
{
	width: 120px;
}
.box
{
	border: 1px solid #BBBBBB;
	background: #F4F4F4;
	padding: 12px;
	display: inline-block;
}
.watermark
{
	color: #909090;
}
.columnLeft
{
	float: left;
	margin: 0 4px 0 0;
}
.columnRight
{
	float: right;
	margin: 0 0 0 4px;
}
.name
{
	color: #333333;
}
/*.photo
{
	display: inline-block;
	overflow: hidden;
	padding: 0 10px;
}
.photo-profile
{
	width: 50px;
	height: 50px;
}
.photo img
{
	border: 0;
}
*/
.serverFbml
{
	margin: 0;
}
.debug-trace
{
	white-space: nowrap;
	overflow: visible;
}
.wideskyscraper
{
	margin: 0;
	padding: 0;
	width: 160px;
	float: right;
}
.wideskyscraper .ad-debug
{
	background: #E9E9E9;
	height: 600px;
}
.fg-menu-container
{
	list-style: none;
}
.fg-menu-container li
{
	list-style: none;
	padding: 2px 0;
}
a.FB_UIButton
{ 
	border-color: #999999 #999999 #888888;
	border-width: 1px;
	border-style: solid;
}