<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="fredin.comic" type="Fredin.Comic.Config.ComicConfigSectionGroup, Fredin.Comic.Core">
			<section name="web" type="Fredin.Comic.Config.WebConfigSection, Fredin.Comic.Core" />
			<section name="storage" type="Fredin.Comic.Config.StorageConfigSection, Fredin.Comic.Core" />
			<section name="facebook" type="Fredin.Comic.Config.FacebookConfigSection, Fredin.Comic.Core" />
			<section name="face" type="Fredin.Comic.Config.FaceConfigSection, Fredin.Comic.Core" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
	</configSections>
	<connectionStrings>
		<add name="ComicModelContext" connectionString="metadata=res://*/Models.ComicModel.csdl|res://*/Models.ComicModel.ssdl|res://*/Models.ComicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=lxd8mu41ss.database.windows.net;Initial Catalog=Comic;User ID=efredin;Password=0Fend25274;Encrypt=True;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient" />
		<add name="ComicStorage" connectionString="UseDevelopmentStorage=true" />
	</connectionStrings>
	<fredin.comic>
		<web staticBaseUrl="http://fredin.dyndns-home.com:8080/Static/" renderBaseUrl="http://localhost:10000/devstoreaccount1/render/" taskBaseUrl="http://localhost:10000/devstoreaccount1/task/" trackerId="UA-9670237-1" />
		<storage renderContainer="render" taskContainer="task" comicPrefix="comic-" framePrefix="frame-" thumbPrefix="thumb-" frameThumbPrefix="frameThumb-" photoPrefix="photo-" />
		<facebook appId="103662644147" permissions="read_stream,user_photos,friends_photos,user_photo_video_tags,friends_photo_video_tags" cookieSupport="true" useXfbml="true" />
		<face apiKey="3f4581348be9d7e6efa483d08899f257" apiSecret="93b9aaa028ada6107841245a80cb94b0" />
	</fredin.comic>
	<facebookSettings appId="103662644147" appSecret="2c98c707a5e0997a2a9b29e6d04fac0d" maxRetries="2" retryDelay="1" />
	<system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>