<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="ComicStorage"
				 connectionString="DefaultEndpointsProtocol=https;AccountName=comicmashup;AccountKey=7GMxjhT63QE8JQLZoOIs5Ivj1Y5MNodIlScU3NFuvQodMiL6Wyggnyr27kkIm7OTiIWXg8RcdPwiFR5lq6zcJA=="
				 xdt:Transform="Replace"
				 xdt:Locator="Match(name)" />
	</connectionStrings>
	
	<fredin.comic xdt:Transform="Replace">
		<web staticBaseUrl="http://www.comicmashup.com/Static/" renderBaseUrl="http://static.comicmashup.com/render/" trackerId="UA-9670237-1" />
		<blob renderContainer="render" taskContainer="task" comicDirectory="comic/" frameDirectory="frame/" thumbDirectory="thumb/" frameThumbDirectory="frameThumb/" photoDirectory="photo/" renderTaskDirectory="render/" />
		<queue renderTaskQueue="task-render" />
		<facebook appId="108994612112" permissions="email,read_stream,user_photos,friends_photos,user_photo_video_tags,friends_photo_video_tags" cookieSupport="true" useXfbml="true" />
		<face apiKey="ff5a150baed804262ba2ff94556716aa" apiSecret="11d4d6669c8279959d2fb5798c3d11e7" />
	</fredin.comic>
	
	<facebookSettings xdt:Transform="Replace" appId="108994612112" appSecret="11d4d6669c8279959d2fb5798c3d11e7" />

</configuration>